#
#  _  _   __  ____  _  _   ____  ____  ____  _  _  __  ___  ____
# / )( \ /  \(_  _)( \/ ) / ___)(  __)(  _ \/ )( \(  )/ __)(  __)
# \ \/ /(  O ) )(   )  /_ \___ \ ) _)  )   /\ \/ / )(( (__  ) _)
#  \__/  \__/ (__) (__/( )(____/(____)(__\_) \__/ (__)\___)(____)
#

[Unit]
Description=voty.ch - Web Frontend
After=default.target
StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Type=simple
WorkingDirectory={{ app_dir }}
Environment=DOCKER_HOST={{ docker_host }}
LimitNOFILE=32768
ExecStartPre=docker compose down -v
ExecStartPre=docker compose rm -v
ExecStart=docker compose up
ExecStop=docker compose down
Restart=on-failure
RestartSec=20s

[Install]
WantedBy=default.target
