[Unit]
Description=Voty - Web Frontend
Requires=docker.service
After=docker.service

[Service]
Type=simple
# Another Type: forking
User=root
# WorkingDirectory=/voty
# ExecStart=npm run start
ExecStart=/usr/bin/docker start -a voty-web
ExecStop=/usr/bin/docker stop -t 2 voty-web
Restart=on-failure
# Other restart options: always, on-abort, etc

[Install]
WantedBy=multi-user.target
