/* Hamburger Menu */
/* Position and sizing of burger button */
.bm-burger-button {
  position: absolute;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

@media screen and (max-width: 599px) {
  .bm-burger-button {
    right: 16px;
    top: 16px;
  }
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #c00;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #000;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 36px !important;
  width: 36px !important;
  right: 36px !important;
  top: 36px !important;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #fff;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  max-width: 70%;
  top: 0;
  right: 0;
}

/* General sidebar styles */
.bm-menu {
  background: #c00;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #c00;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: block;
  color: #fff;
  font-weight: bold;
  line-height: 2.5em;
  outline: 0;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
}
