@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap');*/

:root {
  --bg-color: #ffffff;
  --bg-secondary-color: #f3f3f6;
  --color-primary: #c00;
  --color-lightGrey: #ebedf1;
  --color-grey: #747681;
  --color-darkGrey: #3f4144;
  --color-error: #c31621;
  --color-success: #258f17;
  --grid-maxWidth: 120rem;
  --grid-gutter: 2rem;
  --font-size: 1.8rem;
  --font-color: #000;
  --font-family-sans: "Source Sans Pro", sans-serif;
  --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
}
