@import url("theme.css");
@import url("menu.css");

.card {
  border-radius: 0px;
  background: transparent !important;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button,
a[role="button"],
input[type="submit"] {
  font-weight: bold;
  padding: 1rem 1.5rem;
  border-radius: 0px !important;
}

.nowrap {
  white-space: nowrap;
}

.stretch {
  align-items: stretch;
}

.underline {
  text-decoration: underline;
}

blockquote {
  margin-left: 0;
}

.bold {
  font-weight: 600;
}

.logo {
  max-width: 60%;
}
.logoPage {
  margin-top: 2rem;
  height: 45px;
}

.padding-1 {
  padding: 1rem;
}

.padding-2 {
  padding: 2rem;
}

.marginBottom {
  margin-bottom: 2rem;
}

main {
  margin-top: 2rem !important;
}

@media screen and (min-width: 600px) {
  main {
    margin-top: 5rem !important;
  }
}

@media screen and (max-width: 599px) {
  .logoPage {
    margin-top: 1rem;
  }
}
@media screen and (min-width: 800px) {
  .logo {
    margin-top: 5rem;
  }
}

h1 {
  text-align: center;
  font-size: 4rem;
  font-weight: 900;
  margin-top: 5rem;
  margin-bottom: 0rem;
}

h2 {
  margin-top: 0rem;
  margin-bottom: 1rem;
  font-weight: 900;
  text-align: center;
  font-size: 4rem;
  line-height: 1em;
}

@media screen and (max-width: 599px) {
  h2 {
    font-size: 2.3rem;
  }
}

h3 {
  line-height: 1.2em;
  font-size: 2rem;
  margin-bottom: 0.8em !important;
  font-weight: 700;
}

.page h2 {
  padding-bottom: 1rem;
  border-bottom: 1px solid #979797;
}

@media screen and (min-width: 800px) {
  .max-800 {
    /* 50rem = 800px indeed */
    margin: 0 calc(50% - 25rem);
  }
  .max-600 {
    margin: 0 calc(50% - 19rem);
  }
}

/* Footer */

footer {
  margin: 4rem 0;
  text-align: center;
}
footer a {
  color: #000;
}
footer hr {
  border-bottom: 1px solid #979797;
  margin: 1rem 0;
}
